<!DOCTYPE html>
<html>

<head>
    <title>Hakkında</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>-This site uses <a target="_blank" href="https://dictionaryapi.dev">Free Dictionary API</a>.</p>
        <p>-Meanings, examples and so are those which defined by the API.</p>
    </div>
    
    {{>footer}}
</body>

</html>