<!DOCTYPE html>
<html>

<head>
    <title>Thynictionary</title>
    <link rel="icon" href="/img/Tfavicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="header">Search a word to get the definition:</p>

        <form>
            <input placeholder="Search something">
            <button >Search</button>
        </form>

        <p id="message-1"></p>
        <div id="meanings">

        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>